<footer class="footer">
  <small>
    <a href="http://www.ryanfreng.com/">Sample App</a> by Ryan Freng
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://ryanfreng.com">News</a></li>
    </ul>
  </nav>
</footer>